<!DOCTYPE html>
<html lang="en">
<head>
	<base href="[[++site_url]]" />
        <meta charset="[[++modx_charset:lcase]]" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>[[*longtitle:strip_tags:empty=`[[*pagetitle:strip_tags]]`]] | [[++site_name:strip_tags]]</title>
        <meta name="description" content="[[*description:notempty=`[[*description]]`:default=`[[+content:ellipsis=`155`]]`]]">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:type" content="website">
        <meta property="og:title" name="twitter:title" content="[[*longtitle:notempty=`[[*longtitle]]`:default=`[[*pagetitle]]`]] | [[++site_name]]">
        <meta property="og:description" name="twitter:description" content="[[*description]]">
        <meta property="og:url" name="twitter:url" content="[[~[[*id]]? &scheme=`full`]]">
        <meta property="og:image" name="twitter:image" content="http://blogit.mpthemes.com/assets/components/blogit/img/blogit_social.png">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@MPThemes">
        <link rel="icon" type="image/png" href="http://blogit.mpthemes.com/assets/components/blogit/img/favicon.ico">
        <link rel="stylesheet" href="http://blogit.mpthemes.com/assets/components/blogit/production/style.css">
</head>
<body>
	<header>
		<div class="col_12">
			<div class="logo">
				<img src="assets/components/blogit/img/blogIt-logo.png" alt="BlogIt">
				<h1>BlogIt</h1>
			</div>
		</div>
	</header>
	<main>
		<div class="col_12 centered">
			<h2>What is BlogIt?</h2>
			<p>With BlogIt for MODX Revolution you can create a blog in MODX Revolution using Collections, Tagger and GetResources.</p>
			<h3>Coming soon:</h3>
		</div>
		<div class="col_4 centered">
			<div class="cta_box">
				<h2>Tutorial</h2>
			</div>
		</div>
		<div class="col_4 centered">
			<div class="cta_box">
				<h2>BlogIt extra</h2>
			</div>
		</div>
		<div class="col_4 centered">
			<div class="cta_box">
				<h2>Flexibility 5 update</h2>
			</div>
		</div>
	</main>
	<footer>
		<div class="col_12 centered">
			<p>BlogIt is a project by <a href="http://mpthemes.com">MPThemes</a>, created by <a href="https://anyscreensize.com">Any Screen Size</a></p>
		</div>
	</footer>
</body>
</html>