<!DOCTYPE html>
<html lang="en">
<head>
	<base href="[[++site_url]]" />
        <meta charset="[[++modx_charset:lcase]]" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>[[*longtitle:strip_tags:empty=`[[*pagetitle:strip_tags]]`]] | [[++site_name:strip_tags]]</title>
        <meta name="description" content="[[*description:notempty=`[[*description]]`:default=`[[+content:ellipsis=`155`]]`]]">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:type" content="website">
        <meta property="og:title" name="twitter:title" content="[[*longtitle:notempty=`[[*longtitle]]`:default=`[[*pagetitle]]`]] | [[++site_name]]">
        <meta property="og:description" name="twitter:description" content="[[*description]]">
        <meta property="og:url" name="twitter:url" content="[[~[[*id]]? &scheme=`full`]]">
        <meta property="og:image" name="twitter:image" content="http://blogit.mpthemes.com/assets/components/blogit/img/blogit_social.png">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@MPThemes">
        <link rel="icon" type="image/png" href="http://blogit.mpthemes.com/assets/components/blogit/img/favicon.ico">
        <link rel="stylesheet" href="http://blogit.mpthemes.com/assets/components/blogit/production/style.css">
</head>
<body>
	<header>
		<div class="col_12">
			<div class="logo">
				<img src="assets/components/blogit/img/blogIt-logo.png" alt="BlogIt">
				<h1>BlogIt</h1>
			</div>
		</div>
	</header>
	<main>
		<div class="outer_container">
			<div class="col_12 centered">
				<h2>What is BlogIt?</h2>
				<p>With BlogIt for MODX Revolution you can create a blog in MODX Revolution using Collections, Tagger and GetResources.</p>
				<h2>Download BlogIt free <br>(over 67 downloads since 10-08-2015)</h2>
				<p>Start your MODX blog in minutes with this free easy to use MODX extra.</p>
				<h4 class="blue">Three options to get BlogIt</h4>
				<div class="outer_container">
					<div class="col_4">
						<div class="cta_box">
							<h4>Download BlogIt as zip package</h4>
							<p>Download from this page directly, upload to MODX manager and pay what you want.</p>
							<script data-selz-t="_selz-btn-above" data-selz-a="modal" data-selz-cb="22acd6" data-selz-chbg="f3702c" data-selz-b="http://selz.co/1J72h5I" data-text="Download BlogIt MODX Extra">
							if (typeof _$elz === "undefined") { var _$elz = {}; }
							if (typeof _$elz.b === "undefined") { 
							_$elz.b = { e: document.createElement("script") }; 
							_$elz.b.e.src = "https://selz.com/embed/button"; 
							document.body.appendChild(_$elz.b.e); }
							</script>
							<noscript><a href="http://selz.co/1J72h5I" target="_blank">Download BlogIt Extra</a></noscript>
						</div>
					</div>
					<div class="col_4">
						<div class="cta_box">
							<h4>Download from MODX website</h4>
							<p>BlogIt as official MODX extra, download and upload to MODX manager.</p>
							<a href="http://modx.com/extras/package/blogit" class="_selz-btn _selz-btn-above" target="_blank">
								<span class="_selz-btn-add-on">MODX extra</span>
								<span class="_selz-btn-label">Visit BlogIt Extra page</span>
							</a>
						</div>
					</div>
					<div class="col_4">
						<div class="cta_box">
							<h4>Install with Package Management</h4>
							<p>Use Package Management, in MODX manager go to 'Extras' > 'Installer' and search for 'BlogIt'.</p>
							<a href="http://blogit.mpthemes.com/#user-content-installation" class="_selz-btn _selz-btn-above">
								<span class="_selz-btn-add-on">Use Package Manager</span>
								<span class="_selz-btn-label">Installation steps</span>
							</a>
						</div>
					</div>
				</div>
				<hr>
				<h2>BlogIt screenshots</h2>
				<img src="assets/components/blogit/img/blogit_screen.png" alt="BlogIt screenshots">
			</div>
		</div>
		<div class="outer_container">
			<div class="col_12">
<h2><a id="user-content-what-does-blogit-do" class="anchor" href="#what-does-blogit-do" aria-hidden="true"><span class="octicon octicon-link"></span></a>What does BlogIt do</h2>

<p>When you install BlogIt, you will get a fully functional MODX blog based on Collections, getResources and Tagger.</p>

<h3><a id="user-content-installation-process" class="anchor" href="#installation-process" aria-hidden="true"><span class="octicon octicon-link"></span></a>Installation process</h3>

<ol>
<li>The BlogIt package will check if you have the correct version of Collections, getResources, Tagger, ClientConfig and pThumb installed and if not, will download and install those dependencies.</li>
<li>After that it will add the needed ClientConfig settings, BlogIt chunks, plugins, templates and snippets.</li>
<li>Finally BlogIt will create the demo blog resources.</li>
</ol>

<h2><a id="user-content-installation" class="anchor" href="#installation" aria-hidden="true"><span class="octicon octicon-link"></span></a>Installation</h2>

<h4>Installation video</h4>
<p>See how to install BlogIt in a few minutes.</p>
<div class="video_container">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/PG566NWbxew" frameborder="0" allowfullscreen></iframe>
</div>

<h4>Installation steps</h4>
<ol>
<li>Go to 'Extras' &gt; 'Installer'</li>
<li>Click on 'Download Extras'</li>
<li>Search for 'BlogIt'</li>
<li>Click on 'Download'</li>
<li>After download is finished, click 'Back to Package Management'</li>
<li>Click on the 'Install' button under the listed BlogIt Extra</li>
<li>Read the details and click 'Setup Options'</li>
<li>Choose your options and click on 'Install Package'</li>
<li>BlogIt will be installed</li>
</ol>

<h2><a id="user-content-setup" class="anchor" href="#setup" aria-hidden="true"><span class="octicon octicon-link"></span></a>Setup</h2>

<p>BlogIt works best when you have <a href="https://rtfm.modx.com/revolution/2.x/administering-your-site/using-friendly-urls">Friendly URL's active</a>.</p>
<p>To see the BlogIt options go to: 'Extras' &gt; 'Configuration', here you will find all the BlogIt options.</p>

<h2><a id="user-content-faq" class="anchor" href="#faq" aria-hidden="true"><span class="octicon octicon-link"></span></a>FAQ</h2>

<p><strong>I dont see any articles</strong></p>

<p>Check the BlogIt options: 'Extras' &gt; 'Configuration' adn see if your 'Blog container ID' is fulled in correctly (should be the resource ID of your blog container). Also, are your articles created and published?</p>

<p><strong>The Published on field is empty</strong></p>

<p>Choose a 'Published on' date for every post under the Settings tab.</p>

<p><strong>I dont see any Tag options</strong></p>

<p>Create and edit your tags under 'Extras' &gt; 'Tagger' (make sure you fill in the correct blog post template ID for the tag group). After that you can assign the tags to your articles.</p>

<p><strong>The Tag links are not working</strong></p>

<p>Make sure you have <a href="https://rtfm.modx.com/revolution/2.x/administering-your-site/using-friendly-urls">Friendly URL's active</a>.</p>

<p><strong>Can I update BlogIt?</strong></p>

<p>Yes! any update will be available via the Package Management or from <a href="http://blogit.mpthemes.com">blogit.mpthemes.com</a>. You can safely update the BlogIt extra by choosing to NOT install the demo content.</p>

<p><strong>Can I uninstall BlogIt?</strong></p>

<p>Yes you can, this will also remove the blog it resources, and will uninstall the plugin dependencies (Collections, getResources, Tagger, ClientConfig and pThumb).</p>

<p><strong>Why don't you use the Articles extra?</strong></p>

<p>Articles is outdated and is not as flexible as Collections, using dependencies makes BlogIt easier to maintain and more flexible.</p>

<p><strong>Are comments supported?</strong></p>

<p>Not yet, but support for Quip and Disqus will be added in version 1.1.0.</p>

<p><strong>Can I setup a article archive?</strong></p>

<p>Not yet, but support for Archivist will be added in version 1.1.0.</p>

<p><strong>Can I import old articles from the Articles extra?</strong></p>

<p>Not at this time, plan to add this in version 2.0.0.</p>

<h2><a id="user-content-support-us" class="anchor" href="#support-us" aria-hidden="true"><span class="octicon octicon-link"></span></a>Support us</h2>

<p>We spend a lot of time creating and maintaining this MODX Extra, please visit <a href="http://mpthemes.com">MPThemes.com</a> to find our premium MODX Revolution themes and support us. Or donate any amount when downloading BlogIt from <a href="http://blogit.mpthemes.com">blogit.mpthemes.com</a>.</p>

<h2><a id="user-content-links" class="anchor" href="#links" aria-hidden="true"><span class="octicon octicon-link"></span></a>Links</h2>

<p>The official site for blog it is: <a href="http://blogit.mpthemes.com">blogit.mpthemes.com</a></p>

<p>For feature requests and bug submissions: <a href="https://github.com/DESIGNfromWITHIN/blogit/issues">github.com/DESIGNfromWITHIN/blogit/issues</a></p>
			</div>
		</div>
	</main>
	<footer>
		<div class="col_12 centered">
			<p>BlogIt is a project by <a href="http://mpthemes.com">MPThemes</a>, created by <a href="https://anyscreensize.com">Any Screen Size</a></p>
		</div>
	</footer>
	<script src="http://blogit.mpthemes.com/assets/components/blogit/production/main.js"></script>
</body>
</html>