<!DOCTYPE html>
<html lang="en">
<head>
	<base href="[[++site_url]]" />
        <meta charset="[[++modx_charset:lcase]]" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>[[*longtitle:strip_tags:empty=`[[*pagetitle:strip_tags]]`]] | [[++site_name:strip_tags]]</title>
        <meta name="description" content="[[*description:notempty=`[[*description]]`:default=`[[+content:ellipsis=`155`]]`]]">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:type" content="website">
        <meta property="og:title" name="twitter:title" content="[[*longtitle:notempty=`[[*longtitle]]`:default=`[[*pagetitle]]`]] | [[++site_name]]">
        <meta property="og:description" name="twitter:description" content="[[*description]]">
        <meta property="og:url" name="twitter:url" content="[[~[[*id]]? &scheme=`full`]]">
        <meta property="og:image" name="twitter:image" content="http://blogit.mpthemes.com/assets/components/blogit/img/blogit_social.png">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@MPThemes">
        <link rel="icon" type="image/png" href="http://blogit.mpthemes.com/assets/components/blogit/img/favicon.ico">
        <link rel="stylesheet" href="http://blogit.mpthemes.com/assets/components/blogit/production/style.css">
</head>
<body>
	<header>
		<div class="col_12">
			<div class="logo">
				<img src="assets/components/blogit/img/blogIt-logo.png" alt="BlogIt">
				<h1>BlogIt</h1>
			</div>
		</div>
	</header>
	<main>
		<div class="col_12 centered">
			<h2>What is BlogIt?</h2>
			<p>With BlogIt for MODX Revolution you can create a blog in MODX Revolution using Collections, Tagger and GetResources.</p>
			<h2>Download for free</h2>
			<p>Start your MODX blog in minutes with this free (or pay what you like), easy to use MODX extra.</p>
<script data-selz-t="_selz-btn-above" data-selz-a="modal" data-selz-cb="22acd6" data-selz-chbg="f3702c" data-selz-b="http://selz.co/1J72h5I" data-text="Download BlogIt MODX Extra">
if (typeof _$elz === "undefined") { var _$elz = {}; }
if (typeof _$elz.b === "undefined") { 
_$elz.b = { e: document.createElement("script") }; 
_$elz.b.e.src = "https://selz.com/embed/button"; 
document.body.appendChild(_$elz.b.e); }
</script>
<noscript><a href="http://selz.co/1J72h5I" target="_blank">Download BlogIt MODX Extra</a></noscript>
			<br><br>
			<img src="assets/components/blogit/img/blogit_screen.png" alt="BlogIt screenshots">
		</div>
		<div class="col_6">
			<h2>Installation video</h2>
			<p>See how to install BlogIt in a few minutes.</p>
			<div class="video_container">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/PG566NWbxew" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		
		<div class="col_6">
			<h2>Flexibility 5 update</h2>
			<p>BlogIt will be added the the free <a href="http://mpthemes.com/themes/flexibility-5/" target="_blank">Flexibility 5 theme</a> for MODX soon!</p>
		</div>
	</main>
	<footer>
		<div class="col_12 centered">
			<p>BlogIt is a project by <a href="http://mpthemes.com">MPThemes</a>, created by <a href="https://anyscreensize.com">Any Screen Size</a></p>
		</div>
	</footer>
	<script src="http://blogit.mpthemes.com/assets/components/blogit/production/main.js"></script>
</body>
</html>